{
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "babel-plugin-loop-optimizer"
  ],
  "presets": ["flow", "es2015", "stage-0", "stage-2"]
}
